.selectedPage {
    color: #f8ffba;
    margin: 5px;
    font-weight: bolder;
}

.page {
    margin: 3px;
    padding: 1px;
}

.paginator {
    margin: 10px 0 20px 5px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.spanButton {
    padding: 5px;
    margin: 2px;
    border: solid 3px #eef19e;
    font-weight: bold;
}