.grid_header {
    grid-area: header;
    background-color: #90e0e0;

    .img {
        height: auto;
        width: 100px;
    }
}

.loginBlock {
    float: right;
    margin: 3px 10px 0 0;

    .block_text {
        text-align: right;

        .bold {
            font-weight: bold;
        }
    }
}

