.profile_content {
  padding: 5px;

  .user_avatar {
    border-radius: 80px;
    width: 150px;
  }

  .descriptionBlock {
    padding: 10px;

    .bold {
      display: inline-block;
      margin: 0 3px 0 0;
      font-weight: bold;
    }

    .underline {
      display: inline-block;
      margin: 0 3px 0 0;
      text-decoration: underline;
    }
  }
}