.form__layout {
  margin: 10px 0 0 0;
  text-align: center;

  .text__area {
    width: 350px;
    height: 80px;
    resize: none;
  }

  .input__area {
    width: 350px;
  }

  .error__form__validation {
    color: rebeccapurple;
  }

  .send__btn {
    margin-top: 5px;
    cursor: pointer;
  }
}