.main_content {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;

  .header {
    margin-bottom: 3px;

    .header__text {
      font-weight: bold;
    }
  }

  .news_image {
    height: 200px;
    border-radius: 30px;
  }

  .buttons__group {
    margin: 5px;
  }
}