.grid-container {
    display: grid;
    width: 1920px;
    margin: 0 auto;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;
}

.grid-header {
    grid-area: header;
    background-color: #90e0e0;
}

.grid-header img {
    height: auto;
    width: 100px;
}

.grid-nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f1bec9;
}

.grid-content {
    grid-area: content;
    background-color: #b0aff1;
}

.profile__item__img {
    display: flex;
    flex-direction: column;
}